.container{
    font-family: 'Press Start 2P', cursive;
}
.row{
    border-style: solid;
    border-color: crimson;
}
.col-md-6{
    padding: 2px;
    border-style: solid;
    border-color: rgb(86, 140, 86); 
}
h2{
    text-align: center;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}